footer {
    background-color: #00FF00;
    height: 60px;
    width: 100%;
    position: absolute;
    margin-top: 40px;
    left: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}