section.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    text-align: center;
    position: relative;
    z-index: 1;
}

section.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    float: right;
    margin-right: 30px;
    margin-top: 11px;
}

section.filters button:hover {
    opacity: 90%;
}

.locations,
.amenities {
    height: 100%;
    width: 25%;
    float: left;
}

.locations {
    border-right: 1px #DDDDDD solid;
}

.amenities h3,
.locations h3 {
    font-weight: 600;
    text-align: left;
    margin-bottom: 0;
    margin-left: 35px;
}

.amenities h4,
.locations h4 {
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    margin-top: 0px;
    margin-left: 35px
}

.popover {
    display: none;
    background-color: #FAFAFA;
    border: #DDDDDD 1px solid;
    list-style: none;
    text-align: left;
    padding: 0px;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.popover h2 {
    font-size: 16px;
    margin: 0px;
}

.popover li {
    margin-left: 35px;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.class li {
    margin-left: -20px;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}